* {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Body */
body {
    background-color: rgb(97, 97, 97);
}
/* Header */
header {
    text-align: center;
}
nav {
    text-decoration: underline;
}
nav:hover {
    text-shadow: white 0 0 2px;
}
/* Main Content */
main {
    display: flex;
    flex-direction: column;
    margin: 5%;
    border: 2px solid white;
    border-radius: 15px;
    min-height: 300px;
}
#timer {
    min-height: 18px;
    text-align: center;
    margin: 5px 0;
}
button {
    align-self: center;
    margin: auto;
    padding: 5px;
    background-color: dimgrey;
    border: 1px solid slategrey;
    border-radius: 5px;
}
.activeButton {
    box-shadow: 2px 2px black;
}
.activeButton:hover {
    background-color: grey;
}
.activeButton:active {
    background-color: darkgrey;
    box-shadow: 0 0 black;
    transform: translate(2px, 2px);
}
/* Footer */
footer {
    padding: 10px;
}
footer * {
    text-align: center;
}
/* High Scores */
h3 {
    text-decoration: underline;
}
/* Copyright */
h4 {
    margin: 5% auto auto auto;
}
h5 {
    margin: auto;
}